@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin:0;
  padding:0;
}
#main{
  font-family: 'Roboto', sans-serif;
  width:56.25rem;
  margin-left:auto;
  margin-right:auto;
  padding: 1.875rem;
  max-width: 100%
}
ul {
  list-style-type: none;
  margin: 0;
  padding-top: 2.5rem;
  overflow: hidden;
  width: 56.25rem;
  margin-left:auto;
  margin-right:auto;
  max-width: 100%;
}
#second{
  margin: 0;
  padding: 0;

  width: 56.25rem;
  margin-left:auto;
  margin-right:auto;
}

li {
  float: left;
  color: #fff;
  display:block;
}

li a {
  font-size:17.1px;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

section>ul>li a:hover {
  color: #17F0A9;
}
#quote{
  width: 56.25rem;
  margin-left:auto;
  margin-right:auto;
  font-weight:Bold ;
  font-size: 1.875rem;
  text-align: left;
  color: #fff;
  max-width: 100%;
}
#brief_summ{
  width: 56.25rem;
  margin-left:auto;
  margin-right:auto;
  font-weight: lighter;
  color: #eee;
  font-size: 1.25rem;
  max-width:100%;
}
section1>ul>li>a:hover{
  background-color:#062B05;
  max-width: 100;
}

#main {
  background-image: url('pic_one.jpg');
  background-margin:0;
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-position:top;
  width: 96.07%;
  background-size:100% 100%;
  max-width: 100%;
}
#heading{
  text-align: center;
  text-size:1.875rem;
  max-width:100%;
}
#second_des_logo{
  position:center;
  max-width:100%;
}
#second{
  font-family: 'Roboto', sans-serif;
  max-width:100%;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  max-width: 100%;
}
section3>div>a:hover{
  background-color: #062B05;
  max-width: 100;
}
.logo{
  margin:0;
  padding-left: 1.25rem;
  padding-right:1.25rem;
  padding-bottom: 1.25rem;
  max-width: 100%;
}
.column {
  float: left;
  width: 25%;
  padding: 0;
  max-width: 100%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  max-width: 100%;
}
.third{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}
section4>div>a:hover{
  background-color: #062B05;
  max-width: 100%;
}
section4> div:hover{
  background-color: #FFC300;
  max-width: 100%;
}
section4>div{
  background-color: #DAF7A6;
  max-width: 100%;
}
#pricing_table{
  font-family: 'Roboto', sans-serif;
  width:30rem;
  margin-left:auto;
  margin-right:auto;
  padding: 1.875rem;
  max-width: 100%;
}
section5>div>a:hover{
  background-color: #062B05;
  max-width: 100%;
}
#division{
  border-right: 1px solid #C0C0C0;
  max-width: 100%;
}
.but {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  max-width: 100%;
}
